<%= render "layouts/header" %>
<br><br><br>
<%= render "layouts/wave_bottom" %>

<section class="relative py-5 mt-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "design1", class:"max-w-full rounded-lg shadow-lg" %>
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">Graphic Design </h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  Bring your brand to life with custom designs that set you apart from the competition. Our team is equipped with the latest 
                  tools, including Photoshop and Premier Pro, to bring your vision to life. Whether you need eye-catching content for your 
                  social media pages or a professional video for YouTube or TikTok, we've got you covered. And the best part? All of our designs
                  are fully responsive and compatible with all devices, so you can be confident that your brand will look great no matter where 
                  it's viewed. With multiple prototypes to choose from and the option to make changes until you're completely satisfied, we'll 
                  work with you to create the perfect designs for your business. Contact Yellow.tech today to get started!
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
          </div>
        </div>
</section>
<br><br>
<section class="relative py-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">Logos</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  Your logo is the face of your brand and the first thing that customers will see. It's crucial that your logo accurately 
                  represents your business and sets you apart from the competition. We will work with you to create a unique and memorable 
                  logo that captures the essence of your brand. A well-designed logo has the power to make a lasting impression, inviting 
                  customers to get to know your brand and building brand recognition over time. Whether you're starting a new business or 
                  looking to revamp your current logo, trust us to create a logo that truly represents your brand.
                  Start building brand recognition today. Contact Yellow.tech for expert logo design services.
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "logo_inner", class:"max-w-full rounded-lg" %>
            </div>
          </div>
        </div>
</section>
<br><br>
<section class="relative py-5 mt-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "design2", class:"max-w-full rounded-lg shadow-lg" %>
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">Designs</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  The design of your website or app is the first thing that customers will see, and you must make a great impression. 
                  That's why we offer a wide range of front-end design services, from web pages to mobile apps, illustrations, videos, and images.
                  At Yellow.tech, we believe that designs play a vital role in shaping the customer's first impression of your brand. 
                  That's why we offer designs that are not only attractive but also compatible with all devices, so you can be sure that 
                  your brand will look great no matter where it's viewed. Contact us today to get started!
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
          </div>
        </div>
</section>
<br><br>
<section class="relative py-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">Photo Editing</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  Images are a powerful tool for attracting attention and delivering a message. That's why we offer professional image editing services 
                  to enhance your online presence. Our team can work with you to transform your images in a variety of ways, from changing backgrounds 
                  to fixing aspects of the picture. With the latest tools and techniques, we can help you create images that truly represent your ideas 
                  and goals. Don't let your images hold you back. Contact us today to learn more about our image editing services!
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "design3", class:"max-w-full rounded-lg shadow-lg" %>
            </div>
          </div>
        </div>
</section>
<br><br>
<section class="relative py-5 mt-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "design4", class:"max-w-full rounded-lg shadow-lg" %>
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">Video Editing</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  In today's digital world, videos are a powerful tool for reaching your target audience and delivering your message. 
                  Whether you're looking to create engaging content for your Youtube or TikTok channel, produce impactful advertisements, 
                  or monetize your videos, it's important to have high-quality, well-edited videos. Our editors will work with you to craft 
                  the perfect story and add animations, special effects, and any other elements that will make your videos truly captivating. 
                  We understand that video editing can be time-consuming and requires a lot of creativity, which is why we offer professional 
                  video editing services at competitive prices. Contact us today to get started!  
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
          </div>
        </div>
</section>
<br><br>

<section class="py-5" id="pricing">
      <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
          Pricing
        </h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4">
          <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
            <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
              <div class="p-8 text-3xl font-bold text-center border-b-4">
                Logo
              </div>
              <ul class="w-full text-center text-sm">
                <li class="border-b py-4">Branding</li>
                <li class="border-b py-4">2 Prototypes</li>
                <li class="border-b py-4">5 changes</li>
              </ul>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
              <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center">
                50$
              </div>
              <div class="flex items-center justify-center">
                <%= link_to "Choose", "https://calendly.com/yellow_tech/30min", class:"mx-auto lg:mx-0 hover:underline gradient-2 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank" %>
              </div>
            </div>
          </div>
          <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-lg bg-white mt-4 sm:-mt-6 shadow-lg z-10">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
              <div class="w-full p-8 text-3xl font-bold text-center">Design</div>
              <div class="h-1 w-full gradient-2 my-0 py-0 rounded-t"></div>
              <ul class="w-full text-center text-base font-bold">
                <li class="border-b py-4">Template</li>
                <li class="border-b py-4">Responsive</li>
                <li class="border-b py-4">5 Changes</li>
              </ul>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
              <div class="w-full pt-6 text-4xl font-bold text-center">
                100$
              </div>
              <div class="flex items-center justify-center">
                <%= link_to "Choose", "https://calendly.com/yellow_tech/30min", class:"mx-auto lg:mx-0 hover:underline gradient-2 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank" %>
              </div>
            </div>
          </div>
          <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
            <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
              <div class="p-8 text-3xl font-bold text-center border-b-4">
                Editing
              </div>
              <ul class="w-full text-center text-sm">
                <li class="border-b py-4">Copywriting</li>
                <li class="border-b py-4">Photoshop</li>
                <li class="border-b py-4">Premiere Pro</li>
              </ul>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
              <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center">
                50$
              </div>
              <div class="flex items-center justify-center">
                <%= link_to "Choose", "https://calendly.com/yellow_tech/30min", class:"mx-auto lg:mx-0 hover:underline gradient-2 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank" %>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<%= render "layouts/footer" %>