<%= render "layouts/header" %>
<br><br><br>
<%= render "layouts/wave_bottom" %>

<section class="relative py-5 mt-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "marketing1", class:"max-w-full rounded-lg shadow-lg" %>
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">Digital Marketing</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  Ready to take your business to the next level? Look no further than Yellow.tech . We offer a full suite of marketing 
                  services to help you create the perfect campaign, even if you're just getting started. Our team will craft captivating 
                  stories and posts for your metaverse accounts, ensuring that your brand stands out from the crowd. We'll manage your 
                  accounts for you, so you can focus on running your business. And that's not all! With our support, you can set up targeted 
                  email campaigns and take advantage of paid advertising on platforms like Google Ads and Facebook Ads. Our goal is to help 
                  you reach as many potential customers as possible, and drive sales through the roof. Don't miss out on this opportunity to 
                  give your business the boost it deserves. Contact us today to get started!
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
          </div>
        </div>
</section>
<br><br>
<section class="relative py-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">Google Ads.</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  Maximize Your Online Presence with Google Ads! With Google Ads, you have the opportunity to reach a massive audience, 
                  both through search engines like Google Search and on non-search websites, mobile apps, and videos. And the best part? 
                  You can precisely target your ideal audience. Make the most of your marketing budget with Google Ads. Unlike traditional 
                  advertising methods, you only pay per-view, and you can set the budget limit. Whether you're looking to generate leads or 
                  boost your sales, Google Ads is the smart choice for businesses of all sizes. Don't miss out on this opportunity to reach 
                  your target audience and drive growth for your business. Start using Google Ads today!
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "google_ads", class:"max-w-full rounded-lg" %>
            </div>
          </div>
        </div>
</section>
<br><br>
<section class="relative py-5 mt-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "marketing2", class:"max-w-full rounded-lg shadow-lg" %>
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">Copywriting</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  Elevate Your Marketing with Compelling Copywriting! The words you choose make all the difference when it comes to marketing. 
                  That's why copywriting is such a critical aspect of any successful marketing campaign. At Yellow.tech, we understand the power 
                  of words and the impact they can have on your audience. Our team of skilled copywriters creates engaging and persuasive content 
                  that will build brand awareness and drive your target audience to take action. Whether you're looking to sell a product or service, 
                  copywriting can be the tipping point that sets your brand apart. A well-crafted message can instill trust and confidence in your 
                  customers, while poor copywriting can leave them with doubts and hesitations. Make a lasting impression and give your marketing the 
                  edge it needs. Partner with Yellow.tech for expert copywriting services today!
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
          </div>
        </div>
</section>
<br><br>
<section class="relative py-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">Meta</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  Meta, the American technology giant behind some of the world's most popular social media platforms, has everything you 
                  need to launch your business into the stratosphere. With Facebook, Messenger, Instagram, and WhatsApp at your fingertips, 
                  you'll have access to a massive audience and a suite of powerful marketing tools. For startups and established businesses 
                  alike, a professional meta profile and website are essential for success. With these foundational elements in place, you 
                  can create eye-catching advertisements and reach your target audience in meaningful ways. Don't let this opportunity pass 
                  you by. Harness the power of Meta's products and services to drive sales, build brand awareness, and grow your business 
                  like never before. Contact Yellow.tech today to learn more!
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "meta", class:"max-w-full rounded-lg" %>
            </div>
          </div>
        </div>
</section>
<br><br>

<section class="relative py-5 mt-5 mx-5 lg:mx-24">
  <div class="container mx-auto px-4">
    <div class="flex justify-center">
      <div class="my-auto">
        <%= image_tag "warning", class:"w-full rounded-lg w-36 h-36" %>
      </div>
      <div class="px-8 my-auto">
        <h1 class="mt-4 text-md md:text-3xl leading-relaxed text-red-500 mb-5">
          Paid ads are not included in the pricing. They are side calculated to give you price flexibility and diversity to choose from.
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="pricing">
      <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
          Pricing
        </h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4">
          <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
            <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
              <div class="p-8 text-3xl font-bold text-center border-b-4">
                Small Campaign
              </div>
              <ul class="w-full text-center text-sm">
                <li class="border-b py-4">Meta 2 Posts</li>
                <li class="border-b py-4">Meta 5 Stories</li>
                <li class="border-b py-4">Copywriting</li>
              </ul>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
              <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center">
                Starting 25$
              </div>
              <div class="flex items-center justify-center">
                <%= link_to "Choose", "https://calendly.com/yellow_tech/30min", class:"mx-auto lg:mx-0 hover:underline gradient-2 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank" %>
              </div>
            </div>
          </div>
          <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-lg bg-white mt-4 sm:-mt-6 shadow-lg z-10">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
              <div class="w-full p-8 text-3xl font-bold text-center">Medium Campaign</div>
              <div class="h-1 w-full gradient-2 my-0 py-0 rounded-t"></div>
              <ul class="w-full text-center text-base font-bold">
                <li class="border-b py-4">Meta 4 Posts</li>
                <li class="border-b py-4">Meta 10 Stories</li>
                <li class="border-b py-4">4 Mail Campaigns</li>
                <li class="border-b py-4">Google Ads</li>
              </ul>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
              <div class="w-full pt-6 text-4xl font-bold text-center">
                Starting 50$
              </div>
              <div class="flex items-center justify-center">
                <%= link_to "Choose", "https://calendly.com/yellow_tech/30min", class:"mx-auto lg:mx-0 hover:underline gradient-2 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank" %>
              </div>
            </div>
          </div>
          <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
            <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
              <div class="p-8 text-3xl font-bold text-center border-b-4">
                Large Campagin
              </div>
              <ul class="w-full text-center text-sm">
                <li class="border-b py-4">Meta 6 Posts </li>
                <li class="border-b py-4">Meta 20 Stories </li>
                <li class="border-b py-4">6 Mail Campagins</li>
                <li class="border-b py-4">4 TikTok Videos</li>
                <li class="border-b py-4">Google Ads</li>
              </ul>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
              <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center">
                Starting 100$
              </div>
              <div class="flex items-center justify-center">
                <%= link_to "Choose", "https://calendly.com/yellow_tech/30min", class:"mx-auto lg:mx-0 hover:underline gradient-2 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank" %>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<%= render "layouts/footer" %>