<%= render "layouts/header" %>
<br><br><br>
<%= render "layouts/wave_bottom" %>

<section class="relative py-5 mt-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "mobile4", class:"max-w-full rounded-lg shadow-lg" %>
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">Mobile App</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  Bring your ideas to life with Yellow.tech's mobile app development services. 
                  Our team of experts has the skills and experience to turn your vision into a reality. 
                  Whether you're looking to launch a new app or revamp an existing one, we have the expertise to get the job done.
                  Don't settle for a subpar mobile app. Contact us today to get started!
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
          </div>
        </div>
</section>
<br><br>
<section class="relative py-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">What is a mobile application?</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  A mobile application provides users with a wide range of functionalities, from gaming and entertainment to 
                  productivity and communication. Mobile apps can be downloaded from app stores and are designed to work seamlessly 
                  with the device's hardware and software. With the growing popularity of mobile devices, mobile apps have become an 
                  essential tool for businesses and individuals looking to connect with their customers and improve their productivity.
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "mobile1", class:"max-w-full rounded-lg shadow-lg" %>
            </div>
          </div>
        </div>
</section>
<br><br>
<section class="relative py-5 mt-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "mobile3", class:"max-w-full rounded-lg shadow-lg" %>
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">Why do you need a mobile application?</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  In today's digital landscape, having a mobile app has become essential for businesses looking to stay competitive. 
                  A mobile app provides a convenient and accessible platform for your customers to connect with your business, 
                  no matter where they are. With a well-designed mobile app, you can: Increase brand visibility and reach a larger audience, 
                  Improve customer engagement and retention, boost productivity, enhance the customer's experience and provide added value, 
                  and gather valuable data. Invest in a mobile app and see the benefits for yourself. Get started with Yellow.tech today!
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
          </div>
        </div>
</section>
<br><br>
<section class="relative py-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12 text-center">
                <h3 class="text-3xl font-semibold my-3 text-left">Is it hard to build a mobile application?</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5 text-left">
                  Creating an effective mobile app is hard work and not everybody knows how and what to do.
                  You will have to come up with an attractive design, find or create a logo, and find the pictures, ...
                  Then comes the hard part which includes the coding for either android or IOS devices or both platforms at expense of reducing the app speed.
                  When you finish all that you will also have to publish your application on the play store or the app store which can be a complicated task
                  That seems like a hard and complicated thing to do. Don't Worry because we have you covered!
                  Let us handle it because your time is much better spent doing what you do best: running your business.
                  So what are you waiting for!!!
                </p>
                <%= link_to "Details", "#pricing", class:"mx-auto gradient-2 font-bold rounded-full py-2 px-5 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
              </div>
            </div>
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "mobile2", class:"max-w-full rounded-lg shadow-lg" %>
            </div>
          </div>
        </div>
</section>
<br><br>

<section class="py-5" id="pricing">
      <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
          Pricing
        </h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4">
          <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
            <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
              <div class="p-8 text-3xl font-bold text-center border-b-4">
                Android
              </div>
              <ul class="w-full text-center text-sm">
                <li class="border-b py-4">Android App</li>
                <li class="border-b py-4">Speed / Authentication</li>
                <li class="border-b py-4">Design / Logo</li>
              </ul>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
              <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center">
                300$
              </div>
              <div class="flex items-center justify-center">
                <%= link_to "Choose", "https://calendly.com/yellow_tech/30min", class:"mx-auto lg:mx-0 hover:underline gradient-2 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank" %>
              </div>
            </div>
          </div>
          <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-lg bg-white mt-4 sm:-mt-6 shadow-lg z-10">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
              <div class="w-full p-8 text-3xl font-bold text-center">Both</div>
              <div class="h-1 w-full gradient-2 my-0 py-0 rounded-t"></div>
              <ul class="w-full text-center text-base font-bold">
                <li class="border-b py-4">IOS</li>
                <li class="border-b py-4">Android</li>
                <li class="border-b py-4">Design</li>
                <li class="border-b py-4">Logo</li>
              </ul>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
              <div class="w-full pt-6 text-4xl font-bold text-center">
                500$
              </div>
              <div class="flex items-center justify-center">
                <%= link_to "Choose", "https://calendly.com/yellow_tech/30min", class:"mx-auto lg:mx-0 hover:underline gradient-2 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank" %>
              </div>
            </div>
          </div>
          <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
            <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
              <div class="p-8 text-3xl font-bold text-center border-b-4">
                IOS
              </div>
              <ul class="w-full text-center text-sm">
                <li class="border-b py-4">IOS App</li>
                <li class="border-b py-4">Speed / Authentication</li>
                <li class="border-b py-4">Design / Logo</li>
              </ul>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
              <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center">
                300$
              </div>
              <div class="flex items-center justify-center">
                <%= link_to "Choose", "https://calendly.com/yellow_tech/30min", class:"mx-auto lg:mx-0 hover:underline gradient-2 text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out", :target => "_blank" %>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<%= render "layouts/footer" %>