<%= render "layouts/header" %>
<br><br><br>
<%= render "layouts/wave_bottom" %>

<section class="relative py-5 mt-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "web2", class:"max-w-full rounded-lg shadow-lg" %>
              <div class="w-full flex justify-center">
                <%= link_to "Pricing", pricing_web_path, class:"text-center px-5 py-2 rounded-3xl gradient-2 m-5" %>
              </div>
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12">
                <h3 class="text-3xl font-semibold my-3">Websites</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5">
                  On this particular page, you will be able to create your desired website! Whether it's for your work, or even yourself. Having an online website can reduce stress from managing your business, to computerizing it alongside your data into a systematic simplified form with easy access and with all your offered services laid out entirely in front of your eyes in a neat formation. Our team is ready to tailor you plenty of attractive and responsive websites even Web applications with features and complicated functions with fast rendering , huge cloud storage and synchronization for different users. Book a FREE meeting with us where you'll be investing a small amount of your money only once in a lifetime just to own an international platform a space made for you to display and edit your stock data or allocate it to different databases or clients ensuring you more business opportunities and fewer difficulties in tracking your product's location, quantity, item movement, history, expiry date etc...
                </p>
              </div>
            </div>
          </div>
        </div>
</section>
<section class="relative py-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12">
                <h3 class="text-3xl font-semibold my-3">What is a website?</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5">
                  A website is a collection of web pages accessible from your web browser (Chrome, Firefox, Safari, ...)
                  located on a server somewhere on the internet under a domain name (www.google.com, www.facebook.com, ...)
                  For example, popular websites such as Amazon, Wikipedia, Facebook, and Youtube, ... make so much profit from their websites only.
                  Websites are great tools for businesses providing you with a professional public image for your company.
                  Websites or web applications offer you advantages by helping you reach out to your data from all platforms (mobile, tablet, and desktop/laptop) instead of creating an app for each one.
                  Websites are written with various programming languages and are usually accompanied by a database with massive data storage.
                  Web technologies have grown since the beginning and now you can make any idea of yours come to life...
                  So what are you waiting for!!!
                </p>
              </div>
            </div>
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "web6", class:"max-w-full rounded-lg shadow-lg" %>
              <div class="w-full flex justify-center">
                <%= link_to "Pricing", pricing_web_path, class:"text-center px-5 py-2 rounded-3xl gradient-2 m-5" %>
              </div>
            </div>
          </div>
        </div>
</section>
<section class="relative py-5 mt-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "web1", class:"max-w-full rounded-lg shadow-lg" %>
              <div class="w-full flex justify-center">
                <%= link_to "Pricing", pricing_web_path, class:"text-center px-5 py-2 rounded-3xl gradient-2 m-5" %>
              </div>
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12">
                <h3 class="text-3xl font-semibold my-3">Why do you need a website?</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5">
                  A website is your first step to start your own business. Attractive website designs have proven to increase sales.
                  Having a website will provide you with the best first impression to your clients by exposing you professionally instead of relying on social media alone.
                  Don't get me wrong social media marketing is a very effective technique once you already have the foundation and the client's trust.
                  Websites create a public identity for your business, increasing trust with clients.
                  Websites allow you to target mobile, tablet, laptop/desktop users all at once since all of them have a web browser and an internet connection.
                  Nowadays, traditional businesses are struggling to keep up with online businesses since
                  they have no costs such as rent or electricity or paying employees, it is an easy automated process.
                  Also, clients are switching to online shopping since they can shop from their homes.
                  Big companies like Adidas, Amazon, Apple, eBay, and Jack&Jones spend a big budget on their websites. Statistics show that their sales are increasing at a better rate with the world's technological transformation.
                  Don't miss out on these advantages!!!
                </p>
              </div>
            </div>
          </div>
        </div>
</section>
<section class="relative py-5">
        <div
          class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
          style="height: 80px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-white fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
        <div class="container mx-auto px-4">
          <div class="items-center flex flex-wrap">
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
              <div class="md:pr-12">
                <h3 class="text-3xl font-semibold my-3">Is it hard to build a website?</h3>
                <p class="mt-4 text-md leading-relaxed text-gray-600 mb-5">
                  Creating an effective website is hard work and not everybody knows how and what to do.
                  You will have to find an attractive design that works for mobile phones, pads, laptops, and computers,
                  We also handle creating your logo, finding you the adequate quality pictures. Last but not least comes the harder part being the coding.
                  Finding a secure server to host your website and purchasing your domain name for it, will be our responsibility as we will offer you the best of the best.
                  Ofcourse, there are free templates on the internet but they are very limited and not everything is achievable or professional or not tailored for your needs or designs.
                  It all seems like a hard and complicated process. Don't Worry because we have it all covered! :)
                  Instead of exerting all your energy building a website, your time is much better spent doing what you do best: running your business.
                  We offer very cheap website pricing in comparison to even freelancers.
                  So what are you waiting for!!!
                </p>
              </div>
            </div>
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
              <%= image_tag "web3", class:"max-w-full rounded-lg shadow-lg" %>
              <div class="w-full flex justify-center">
                <%= link_to "Pricing", pricing_web_path, class:"text-center px-5 py-2 rounded-3xl gradient-2 m-5" %>
              </div>
            </div>
          </div>
        </div>
</section>

<%= render "layouts/footer" %>