<div class="loader_bg">
  <div class="loader mx-auto">
    <%= image_tag "loading.gif" %>
  </div>
</div>

<%= render "layouts/header" %>
<div class="gradient">    
<!--Hero-->
<div>
  <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <!--Left Col-->
    <div class="flex flex-col w-full md:w-3/5 justify-center items-start text-center md:text-left text-black">
      <h1 class="my-4 font-weight-custom font-bold leading-tight">
        Yellow.tech
      </h1>
      <p class="leading-normal font-weight-custom-2 mt-5">
        Welcome to every Buisness Companion...
      </p>
      <%= link_to "Contact Us", "#contact_us", class:"mx-auto lg:mx-0 hover:underline gradient-2 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" %>
    </div>
    <!--Right Col-->
    <div class="w-full md:w-2/5 p-8 text-center">
      <%= image_tag "hero.png", class:"w-full z-50" %>
    </div>
  </div>
</div>
<br><br>
<%= render "layouts/wave_bottom" %>
    
    <section class="bg-white py-8">
      <div class="container max-w-5xl mx-auto m-8">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-900">
          Services
        </h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto bg-yellow-300 w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        
        <div class="container mx-auto">
          <div class="flex flex-col md:grid grid-cols-9 mx-auto p-2 text-blue-50">
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
              <div class="gradient col-start-1 col-end-5 p-4 rounded-xl m-4 mx-auto shadow-md w-full">
                <h3 class="font-semibold text-lg mb-1 text-gray-900">Websites</h3>
                <div class="leading-tight">
                  <a href="/web">
                    <div class="flex">
                      <%= image_tag "laptop.png", class:"w-36 h-36" %>
                      <ul class="text-gray-900 my-auto">
                        <li>Build your website now</li>
                        <li>Start your online buisness</li>
                        <li>Have a digital identity</li>
                        <li>Transform your buisness</li>
                        <li>Increase your sales</li>
                      </ul>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-300 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-yellow-300 shadow"
                ></div>
              </div>
            </div>
            <!-- right -->
            <div class="flex md:contents">
              <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-300 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-yellow-300 shadow"
                ></div>
              </div>
              <div class="gradient col-start-6 col-end-10 p-4 rounded-xl m-4 mx-auto shadow-md w-full ml-0 md:ml-4">
                <h3 class="font-semibold text-lg mb-1 text-gray-900">Mobile Apps</h3>
                <div class="leading-tight">
                  <a href="/mobile">
                    <div class="flex">
                      <%= image_tag "phone.png", class:"w-36 h-36" %>
                      <ul class="text-gray-900 my-auto">
                        <li>Build your mobile app now</li>
                        <li>Reach mobile users</li>
                        <li>Transform the user experience</li>
                        <li>Have an offline experience</li>
                      </ul>
                    </div>
                  </a>  
                </div>
              </div>
            </div>
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
              <div class="gradient col-start-1 col-end-5 p-4 rounded-xl m-4 mx-auto shadow-md w-full">
                <h3 class="font-semibold text-lg mb-1 text-gray-900">Digital Marketing</h3>
                <div class="leading-tight">
                  <a href="/marketing">
                    <div class="flex">
                      <%= image_tag "marketing.png", class:"w-36 h-36" %>
                      <ul class="text-gray-900 my-auto">
                        <li>Increase your sales</li>
                        <li>Launch your buisness</li>
                        <li>Make Paid Ads</li>
                        <li>Social Media Management</li>
                        <li>Create your brand and copyriting</li>
                      </ul>
                    </div>
                  </a>    
                </div>
              </div>
              <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-300 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-yellow-300 shadow"
                ></div>
              </div>
            </div>
            <!-- right -->
            <div class="flex md:contents">
              <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-300 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-yellow-300 shadow"
                ></div>
              </div>
              <div class="gradient col-start-6 col-end-10 p-4 rounded-xl m-4 mx-auto shadow-md w-full ml-0 md:ml-4">
                <h3 class="font-semibold text-lg mb-1 text-gray-900">Graphic Design</h3>
                <div class="leading-tight">
                  <a href="/design">
                    <div class="flex">
                      <%= image_tag "design.png", class:"w-36 h-36" %>
                      <ul class="text-gray-900 my-auto">
                        <li>Create your logo</li>
                        <li>Attractive user interface</li>
                        <li>Edit your videos / images</li>
                      </ul>
                    </div>
                  </a>    
                </div>
              </div>
            </div>
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
              <div class="gradient col-start-1 col-end-5 p-4 rounded-xl m-4 mx-auto shadow-md w-full">
                <h3 class="font-semibold text-lg mb-1 text-gray-900">Hosting</h3>
                <div class="leading-tight">
                  <a href="/hosting">
                    <div class="flex">
                      <%= image_tag "server.png", class:"w-36 h-36" %>
                      <ul class="text-gray-900 my-auto">
                        <li>Host your website online</li>
                        <li>Deploy your mobile app</li>
                      </ul>
                    </div>
                  </a>    
                </div>
              </div>
              <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                <div class="h-full w-6 flex items-center justify-center">
                  <div class="h-full w-1 bg-yellow-300 pointer-events-none"></div>
                </div>
                <div
                  class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-yellow-300 shadow"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<%= render "layouts/wave_top" %>
<section class="container mx-auto text-center py-6 mb-12" id="contact_us">
  <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-black">
    Contact us
  </h1>
  <div class="w-full mb-4">
    <div class="h-1 mx-auto bg-white w-1/6 opacity-25 my-0 py-0 rounded-t"></div>
  </div>

  <div class="contact pt-5 mt-5">
    <div class="container mx-auto sm:px-4 max-w-full mx-auto sm:px-4">
      <div class="flex flex-wrap ">
        <div class="md:w-1/2 pr-4 pl-4 sm:w-full">
          <div class="contact">
                        <form action="/user/contact/save" method="POST" enctype="multipart/form-data">
                           <br>
                           <div class="flex flex-wrap ">
                              <div class="sm:w-full pr-4 pl-4 my-2 mt-5">
                                 <input type="text" name="name" class="contactus" placeholder="Name" required>
                              </div>
                              <div class="sm:w-full pr-4 pl-4 my-2">
                                 <input type="email" name="email" class="contactus bg-white" placeholder="Email" required>
                              </div>
                              <div class="sm:w-full pr-4 pl-4 my-2">
                                 <input type="text" name="phone" class="contactus" placeholder="Phone Number" required>
                              </div>
                              <div class="sm:w-full pr-4 pl-4 my-2">
                                 <textarea name="message" class="textarea" type="text" placeholder="Message" required></textarea>
                              </div>
                              <div class="sm:w-full pr-4 pl-4 my-2">
                                 <button class="send" type="submit">Send</button>
                              </div>
                           </div>
                        </form>
          </div>
        </div>
        <div class="md:w-1/2 pr-4 pl-4 sm:w-full pr-4 pl-4">
          <%= image_tag "pic1.png", class:"pic1 my-4" %>
          <h1 class="text-center m-2 text-black font-weight-custom-3">
                Book Now a meeting with us. <br>
                We will discuss where you are leaving money on the table.<br>
                We will give you sollutions and tips for FREE...<br>
                So it's a win win situation for everyone.<br>
                What are you waiting for!<br>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br>
<%= render "layouts/wave_bottom" %>

<section class="bg-white px-12 md:px-36 py-24 text-gray-900">
  <div class="text-center md:max-w-xl lg:max-w-3xl mx-auto">
    <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-black">
      Testimolnials
    </h1>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto bg-black w-1/6 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
  </div>

  <div class="grid md:grid-cols-3 gap-6 text-center">
    <div>
      <div class="block rounded-lg shadow-lg bg-white">
        <div class="overflow-hidden rounded-t-lg h-28 gradient-2"></div>
        <div class="w-24 -mt-12 overflow-hidden border border-2 border-white rounded-full mx-auto bg-white">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" />
        </div>
        <div class="p-6">
          <h4 class="text-2xl font-semibold mb-4">Maria Smantha</h4>
          <hr />
          <p class="mt-4">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path>
            </svg>
            pharetra et ultrices neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui sapien eget mi proin sed libero enim sed faucibus turpis in eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus 
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path>
            </svg>
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="block rounded-lg shadow-lg bg-white">
        <div class="overflow-hidden rounded-t-lg h-28 gradient-2"></div>
        <div class="w-24 -mt-12 overflow-hidden border border-2 border-white rounded-full mx-auto bg-white">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp" />
        </div>
        <div class="p-6">
          <h4 class="text-2xl font-semibold mb-4">Lisa Cudrow</h4>
          <hr />
          <p class="mt-4">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path>
            </svg>
            pharetra et ultrices neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui sapien eget mi proin sed libero enim sed faucibus turpis in eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus 
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path>
            </svg>
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="block rounded-lg shadow-lg bg-white">
        <div class="overflow-hidden rounded-t-lg h-28 gradient-2"></div>
        <div class="w-24 -mt-12 overflow-hidden border border-2 border-white rounded-full mx-auto bg-white">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp" />
        </div>
        <div class="p-6">
          <h4 class="text-2xl font-semibold mb-4">John Smith</h4>
          <hr />
          <p class="mt-4">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path>
            </svg>
            pharetra et ultrices neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui sapien eget mi proin sed libero enim sed faucibus turpis in eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus 
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path>
            </svg>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<%= render "layouts/footer" %>