<%= render "layouts/wave_top" %>
<!--Footer-->
<footer class="gradient">
      <div class="container mx-auto px-8">
        <div class="w-full flex flex-col md:flex-row py-6">
          <div class="flex-1 mb-6 text-black">
            <a class="items-center text-black no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
              <%= image_tag "logo_inner.png", class:"w-16 h-16 mx-12 mb-2" %>
              Yellow.tech
            </a>
          </div>
          <div class="flex-1">
            <p class="uppercase text-gray-500 md:mb-6">Locations</p>
            <ul class="list-reset mb-6 text-gray-900">
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                Lebanon, Beirut
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                Germany, Berlin
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                Canada, Ottawa
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <p class="uppercase text-gray-500 md:mb-6">Social Media</p>
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <%= link_to "Yellow.tech", "https://www.facebook.com", target: "_blank", class:"no-underline hover:underline text-gray-800 hover:text-pink-500" %>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <%= link_to "Yellow.tech", "https://www.instagram.com", target: "_blank", class:"no-underline hover:underline text-gray-800 hover:text-pink-500" %>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <%= link_to "Yellow.tech", "https://www.linkedin.com", target: "_blank", class:"no-underline hover:underline text-gray-800 hover:text-pink-500" %>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <%= link_to "yellow.tech.953@gmail.com", "mailto:yellow.tech.953@gmail.com", target: "_blank", class:"no-underline hover:underline text-gray-800 hover:text-pink-500" %>
              </li>
            </ul>
          </div>
          <div class="flex-1">
            <p class="uppercase text-gray-500 md:mb-6">Contact Us</p>
            <ul class="list-reset mb-6">
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <%= link_to "+(961)70285659", "phone:+96170285659", target: "_blank", class:"no-underline hover:underline text-gray-800 hover:text-pink-500" %>
              </li>
              <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                <%= link_to "+1(819)9196004", "phone:+18199196004", target: "_blank", class:"no-underline hover:underline text-gray-800 hover:text-pink-500" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>